<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      DataTables <%= title %>
    </h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Invoice</th>
            <th>Date</th>
            <th>Title</th>
            <th>Name Member</th>
            <th>Name Bank</th>
            <th>Status</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <% for( let index = 0; index < booking.length; index++ ) { %>
          <tr>
            <td><%= index + 1 %></td>
            <td>#<%= booking[index].invoice %></td>
            <td>
              <%=
              booking[index].bookingStartDate.toLocaleDateString().split(`,`)[0]
              %> to <%=
              booking[index].bookingEndDate.toLocaleDateString().split(',')[0]
              %>
            </td>
            <td>
              <%= booking[index].itemId.title %>
            </td>
            <td>
              <%= booking[index].memberId.firstName %> <%=
              booking[index].memberId.lastName %>
            </td>
            <td>
              <%= booking[index].payments.bankFrom %>
            </td>
            <td>
              <%= booking[index].payments.status %>
            </td>
            <td>
              <a
                href="/admin/booking/<%= booking[index]._id %> "
                class="btn btn-sm btn-info btn-circle button-update"
              >
                <i class="fas fa-eye"></i>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
